*,
*::before,
*::after{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.navbar-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
}

a{
    cursor: default;
    
}

a:hover{
    text-decoration: none;
    opacity: 1 !important;
}

a:not(.disabled):hover{
    cursor: pointer;
}



.navbar{
    height:10vh;
}

footer{
    position: fixed;
    bottom: 0;
    width:100%;
}

.footer-logo{
    opacity: 0.5;
    transition: opacity 0.5s ease-out;
}

.footer-logo:hover{
    opacity: 0.7;
}

.img-container{
    height: 400px;
  }

.responsive{
width:  100%;
height: 100%;
object-fit: cover;
}

img{
    filter:grayscale(100%);
    transition: filter 0.5s ease-in-out;
}

img:hover{
    filter: grayscale(0);
}

.colored{
    filter: grayscale(0);
}
