<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
    {% if title %}
        <title>Tattoo Artist - {{title}}</title>
    {% else %}
        <title>Ateş İlbaşı</title>
    {% endif %}
</head>
<body {%if title =="Home" or title == "Contact Us" %} class="home-bg" {%else%} class="bg-dark" {%endif%} >
    <header class="container ps-0 d-flex flex-column flex-md-row">
        <div class="mt-4 align-text-bottom col-xs-12 ms-0 d-flex flex-column flex-md-row justify-content-between w-100">
            <ul class="nav">
                <li class="nav-item">
                        <a class="nav-link font-weight-bold text-white disabled" style="cursor:default" disabled="true">ATEŞ İLBAŞI GÖTTÜR</a>
                </li>
            </ul>
            <ul class="nav justify-content-start">
                <li class="nav-item">
                    <a {%if title=="Home"%} class="nav-link font-weight-bold text-secondary disabled"  {% else %} class="nav-link font-weight-bold text-white" href="{{url_for('main.home')}}"{%endif%} >HOME</a>
                </li>
                <li class="nav-item">
                    <a {%if title=="About Us"%} class="nav-link font-weight-bold text-secondary disabled"  {% else %} class="nav-link font-weight-bold text-white" href="{{url_for('main.about')}}"{%endif%} >ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a {%if title=="Gallery"%} class="nav-link font-weight-bold text-secondary disabled"  {% else %} class="nav-link font-weight-bold text-white" href="{{url_for('main.gallery')}}"{%endif%} >GALLERY</a>
                </li>
                <li class="nav-item">
                    <a {%if title=="Contact Us"%} class="nav-link font-weight-bold text-secondary disabled"  {% else %} class="nav-link font-weight-bold text-white" href="{{url_for('main.contact')}}"{%endif%} >CONTACT</a>
                </li>
            </ul>
        </div>   
    </header>
    
    <div class="pt-5">
        <div class="mt-5">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class=" mt-5 alert alert-{{ category }} alert-dismissible fade show" role="alert" id="flashed_messages">
                    {{message}}
                    <button type="button" class="close test-white" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>        
    </div>
  
    {% block container %}{% endblock %}
    <footer class="bg-white">
        <div class="top-bar">
            <div class="container d-flex justify-content-center">
                <ul class="nav">
                    <li class="nav-item col-4">
                        <a class="nav-link" href="#">
                            <img src="{{url_for('static', filename='images/github.jpeg')}}" class="footer-logo">
                        </a>
                    </li>
                    <li class="nav-item col-4">
                        <a class="nav-link" href="#">
                            <img src="{{url_for('static', filename='images/linkedin.jpeg')}}" class="footer-logo">
                        </a>
                    </li>
                    <li class="nav-item col-4">
                        <a class="nav-link" href="#">
                            <img src="{{url_for('static', filename='images/twitter.jpeg')}}" class="footer-logo">
                        </a>
                    </li>  
                <ul>      
            </div>
        </div>
    </footer>
    <script src="{{url_for('static', filename='script/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='script/index.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
